.download-spinner {
    top: 8px;
    left: 8px;
    transform: translate(-50%, -50%);
    display: none;
    margin-left: 4px;
    width: 16px;
    height: 16px;
    border: 1.5px solid rgba(0, 0, 0, 1);
    border-top: 1.5px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}